[Unit]
Description=Mouse Cam Server

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/pi/start_cam.bash
User=pi
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target